<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexionTP4"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ISSD-TP4-202601;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<globalization culture="es-AR" uiCulture="es-AR" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
